section
  #contact
    
    h4 Ask me anything
    
    form(action='http://formspree.io/adamrecvlohe@gmail.com' method='POST')
      .input-group
        label What Does Your Mom Call You?
        input(type='text' name='name' placeholder='John Jacob Jingleheimer Schmidt')
      .input-group  
        label What Is Your Online Pen Pal Name?
        input(type='email' name='_replyto' placeholder='beetlejuice@saythreetimes.com')
        
      .input-group
        label Tell Me About Your Project!
        textarea(name='message' placeholder='We do fun things like make awesome sauce.')
        
      .input-group
        input(type='submit' value='Send')
      

      
