section(title='My Skill Set and Tools Section' description='Some content displaying what languages and frameworks I know')
  #knowledge
    h2 Browse my tools
    .icon-set
      i(alt='Syntactically Awesome Stylsheets Logo').devicon-sass-original
      i(alt='CoffeeScript Logo').devicon-coffeescript-original-wordmark
      i(alt='Gulp Logo').devicon-gulp-plain
      i(alt='Bower Logo').devicon-bower-line-wordmark
      i(alt='NodeJS Logo').devicon-nodejs-plain-wordmark
      i(alt='Heroku Logo').devicon-heroku-original-wordmark
      i(alt='MongoDB Logo').devicon-mongodb-plain-wordmark
      i(alt='Git Logo').devicon-git-plain-wordmark
      

      
