section
  #knowledge
    h4 Browse my tools
    .icon-set
      i.devicon-sass-original
      i.devicon-jquery-plain-wordmark
      i.devicon-coffeescript-original-wordmark
      
      i.devicon-gulp-plain
      i.devicon-bower-line-wordmark
      i.devicon-nodejs-plain-wordmark
      i.devicon-heroku-original-wordmark
      i.devicon-mongodb-plain-wordmark
      i.devicon-rails-plain-wordmark

      i.devicon-bootstrap-plain-wordmark

      i.devicon-git-plain-wordmark
      
      i.devicon-photoshop-plain
      i.devicon-illustrator-plain

      
