section
  #header
    padding 0 1em
    height 100vh
    display flex
    flex-direction column
    justify-content center
    align-items center
    text-align center


    h2
      font-family 'Abril Fatface'
      font-weight 300
      margin 0
    p
      font 900 .75em 'Source Code Pro'
      text-transform uppercase
      letter-spacing .5em

    .icons-container
      width 300px
      text-align center
      padding .75em

      i
        color lighten(black, 13%)
        min-width 25%
        transition .5s ease-in-out 0s
        &:hover
          cursor pointer
          color rgba(255,0,0,.5)

    span
      absolute bottom 3em left right
      margin-left auto
      margin-right auto
      text-transform uppercase
      font 900 .6em 'Source Code Pro'
      letter-spacing 5px
      color lighten(black, 13%)

      @media(max-width: 700px)
        font 900 .75em 'Source Code Pro'
