section
  #knowledge
    height 100vh
    display flex
    align-items center
    justify-content center
    flex-direction column
    text-align center

    h4
      margin 0
      color lighten(black, 13%)
      font-family 'Abril Fatface'

    .icon-set
      display flex
      justify-content center
      align-items center
      flex-wrap wrap
      width 70%
      margin 0 auto

      i
        padding .3em
        font-size 3em
        color grey
        transition color .5s ease-in-out 0s

        &:hover
          color #ff7f7f
          cursor crosshair
